body {
  margin: 0;
}

ul {
  padding-left: 0;
  font-size: 0;
}

li {
  font-size: 1rem;
  display: inline-block;
  width: 300px;
  height: 160px;
  background-color: #F2F2F2;
  border: 1px #DADCE0 solid;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  color: #4285F4;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 900px;
    color: #EA4335;
  }
}

@media screen and (max-width: 899px) {
  .container {
    width: 600px;
    color: #FBBC05;
  }
}

@media screen and (max-width: 599px) {
  .container {
    width: 300px;
    color: #34A853;
  }
}